<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>List of Pokemons</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@1,200&family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
    <a href="/"><img src="/logo.png" id="logo" alt="Pokemon Logo"></a>
    <h1 id="info">Pokemon Information</h1>
    <h2>Evolutions:</h2>
    <ol id="pokemonList">
        <%- pokemons %>
    </ol>
    <h2>Characteristics:</h2>
    <%- characteristics %>
</body>

</html>