<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>List of Pokemons</title>
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:ital,wght@1,200&family=Righteous&display=swap" rel="stylesheet">
</head>

<body>
    <img src="/logo.png" id="logo" alt="Pokemon Logo">
    <h1 id="main">Pokedex</h1>
    <h2 id="list-main">Available Pokemons:</h2>
    <%- pick %>
    <div id="pokedex">
        <%- pokemons %>
    </div>
</body>

</html>